{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: yellow;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo{
	color: blue;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size:  25px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links a{
	color: white;
	text-decoration: underline;
	letter-spacing: 3px;
	font-size: 14px;
}

.nav-links a:hover{
	color: black;
}

@media screen and (max-width: 1250px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width:  768px) {
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: yellow;
		display: flex;
		flex-direction: column;
		align-items: center;
		width:  50%;
	}
}
